.header {
  width: 100%;
  min-height: 4rem;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  margin: .2rem;
  border-bottom: 2px solid var(--primary);
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 2;
}

.titleWrapper {
  display: grid;
  place-items: center;
  border-right: 2px solid var(--primary);
}

.titleWrapper h2 {
  margin: 0;
  font-family: "happy-times";
  font-style: italic;
  color: var(--primary);
}

.navbarWrapper {
  border-right: 2px solid var(--primary);
}

