.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  margin: 0 0 0 4rem;
  padding: 0;
}

.navbar ul a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
  transition: .3s;
}

.navbar ul a:hover {
  color: var(--secondary);
}